<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sticky Notes{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
